.PageLayout {
  margin: 20px 12px 12px 12px;
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "content"
    "footer";
  gap: 20px;
}

.PageLayout__content {
  grid-area: content;
}

.PageLayout__footer {
  grid-area: footer;
}

