.ProjectCard {
  margin-bottom: 32px;
  padding: 10px 10px 10px 0;
  border-radius: 3px;
}

.ProjectCard__header {
  margin-bottom: 8px;
}

.ProjectCard__title-container {
  width: 100%;
}

.ProjectCard__date-container {
  font-size: small;
}

.ProjectCard__title {
  font-size: 26px;
  font-weight: bold;
}

.ProjectCard__entity {
  font-size: medium;
  font-weight: lighter;
}

.ProjectCard__description {
  margin-bottom: 10px;
}
