.PageLayout {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 20px 12px 12px 12px;
  min-height: 100%;

  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.PageLayout__footer {
  margin-top: auto;
}

